.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  transition: opacity 0.5s ease 0.1;
  margin: 0 auto 0 48px;
}
.khan__buy-link:hover {
  opacity: 0.7;
}
